
.planTripWrap{
    -fx-background-color: #000000;
}
.planTripTitle {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: 'Poppins';
}
.plan-subTitle{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: 'Poppins';

}
.time-label,.price-note {
    -fx-font-size: 10px;
    -fx-font-family: 'Poppins';
    -fx-text-fill: #7d7d7d;
}
.departure-label{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: 'Poppins';
    -fx-text-fill:#DF6951;
}
.filter-by-price{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: 'Poppins';
    -fx-fill:#DF6951;
}
.slider-price .thumb {
    -fx-background-color: #FF5722; /* Màu của nút trượt */
}
.button-next{
    -fx-background-color: #DF6951; /* Màu nền của Button */
    -fx-text-fill: #ffffff;        /* Màu chữ của Button */
    -fx-font-size: 14px;           /* Cỡ chữ */
    -fx-font-weight: bold;         /* Kiểu chữ đậm */
     -fx-font-family: 'Poppins';      /* Font chữ */
            /* Padding bên trong Button */
}


